@mixin flexbox(
	$justify-content: center,
	$align-items: center,
	$flex-direction: row
) {
	display: -webkit-box; // old
	display: -moz-box; // old
	display: -ms-flexbox; // ie
	display: -webkit-flex; // new
	display: flex; // new
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

@mixin menuStyle() {
	background: #000;
}

// Color variable
$component-background: #303949;
$background-color: #272d37;
$text-color: white;
$inflection-color: #2eafdb;
$dead-color: #fd5e5f;
$recovery-color: #26c26c;
