@import './../../../../utils/scss/mixins.scss';

.country {
	@include flexbox(space-between, center);
	height: 3.5rem;
	padding: 0 10px;
	color: $text-color;
	background-color: $component-background;

	&:hover {
		cursor: pointer;
		transform: scale(1.02);
		transition: all 0.2s;
		border: 1px solid white;
	}

	&:active {
		transform: scale(0.99);
		transition: all 0.1s;
	}

	&__left {
		@include flexbox(flex-start, center);
		width: 60%;

		img {
			max-width: 2.5rem;
			margin-right: 0.5rem;
		}

		div {
			span {
				margin-right: 0.5rem;
				font-size: 9.5px;

				&:nth-child(1) {
					color: $inflection-color;
				}
				&:nth-child(2) {
					color: $dead-color;
				}
				&:nth-child(3) {
					color: $recovery-color;
				}
			}
		}
	}

	&__right {
		width: 30%;

		div {
			span {
				margin-right: 0.5rem;
				font-size: 9.5px;

				&:nth-child(1) {
					color: $inflection-color;
				}
				&:nth-child(2) {
					color: $dead-color;
				}
				&:nth-child(3) {
					color: $recovery-color;
				}
			}
		}
	}
}
